---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Mayo 2023 - Actualmente",
    title: "Senior Frontend Enginner - Sorcol",
    description:
      "Desarrollo de features, identificación y solución de bugs, comunicación asertiva con equipos de diseño, ux y clientes en proyectos de grandes industrias como el Retail, Salud y productos internos de la compañía.",
  },
  {
    date: "Marzo 2021 - Mayo 2023",
    title: "Web UI Semi Senior - Globant",
    description:
      "Desarrollo de features, identificación y solución de bugs, comunicación asertiva con equipos de diseño, ux y clientes en proyectos de grandes industrias como el Retail, Salud y productos internos de la compañía.",
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "2020",
    title: "Digital Master - Distriandamios SAS",
    description:
      "Creación y mantenimiento de página web corporativa. Diseño de contenido para redes sociales. Administración de cuentas Ads corporativas. Levantamiento de material audiovisual, grabación, mezcla y masterización del material.",
  },
  {
    date: "2019",
    title: "Digital Master - Viverplas",
    description:
      "Creación y mantenimiento de página web corporativa. Diseño de publicidad y contenido para redes sociales. Levantamiento de material audiovisual, grabación, mezcla y masterización del material.",
  },
  {
    date: "Desde 2011",
    title: "Freelance",
    description:
      "Servicios de Diseño, Diagramaciones para redes, Creación de marcas, Fotografía, Producción Audiovisual, Producción de audio, Retoque fotográfico, Publicidad, Impresión a gran formato.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
